{% extends "index.html" %}
{% load bootstrap %}
{% block tablecontent %}

    <div class="action-form">
        <form method="post" style="width:350px;margin-left:200px;" action="{% url 'accounts:change_password' %}">

            {% csrf_token %}

                {% if success %}

                    {{ success|safe }}

                {% else %}
                {% if error %}

                    {{ error|safe }}

                {% endif %}
                {% if form.errors %}

                    Please correct following errors.

                {% endif %}

                    {{ form.current_password|bootstrap }}
                    {{ form.current_password.errors }}

                    {{ form.password|bootstrap }}
                    {{ form.password.errors }}


                    {{ form.confirm_password|bootstrap }}
                    {{ form.confirm_password.errors }}


                    <input type="submit" value="Change password">

                {% endif %}

        </form>
</div>
{% endblock %}
