{% extends "index.html" %}
{% load bootstrap %}
{% block content %}
    
    <div class="action-form">
        <form method="post" style="width:350px;margin:5px 100px 200px 300px;" action="{% url 'accounts:accounts_forgot_password' %}">
        <h3>Forgot your password?</h3>
            {% csrf_token %}
           
                {% if success %}
              
                    {{ success|safe }}
               
                {% else %}
                {% if error %}
               
                    {{ error|safe }}
               
                {% endif %}
               
                    <input id="id_email" name="email" type="text" value="{{ email }}" placeholder="Email..."/>
             
               
                    <input type="submit" value="Send password reset link">
              
             
                    <a href="{% url 'accounts:login_view' %}">Login</a> | <a href="{% url 'accounts:register_view' %}" >Register</a>
               
                {% endif %}
           
        </form>
</div>
{% endblock %}