{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container">

    <!-- Intro Content -->
    <div class="row">

        <div class="col-xs-12">
            <h4 class="text-center"><b>Mission</b></h4>
            <hr>
              <div class="well well-sm">
                <p class="text-center">
                  To give you the most compelling fresh cut potatoes,
                  so that together we can save money, time and energy for a better living.
                </p>
              </div>


           <hr>
        </div>
    </div>
    <!-- /.row -->


  </div>  <!-- /.container -->

{% endblock %}
