{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container">

    <!-- Intro Content -->
    <div class="row">

        <div class="col-xs-12">
            <h4 class="text-center"><b>Our Values</b></h4>
            <hr>
              <div class="well well-sm">
                <p class="text-center">
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
              </div>


           <hr>
        </div>
    </div>
    <!-- /.row -->


  </div>  <!-- /.container -->

{% endblock %}
