{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container">

    <!-- Intro Content -->
    <div class="row">

        <div class="col-xs-12">
            <h4 class="text-center"><b>Vision</b></h4>
            <hr>
              <div class="well well-sm">
                <p class="text-center">
To lead the way in quality and affordable fresh cut potatoes in the Sub-Sahara
                </p>
              </div>


           <hr>
        </div>
    </div>
    <!-- /.row -->


  </div>  <!-- /.container -->

{% endblock %}
